
           
           body {
                background-color: rgb(143, 209, 221);
                
            }
            header {
                color: rgb(138, 238, 238);
                background-color:rgb(53, 153, 86);
                text-align: center;
                text-decoration: underline;
                padding: 20px;
                font-size: 2em;
                font-family: "Noto Sans KR", sans-serif;
                
            }
            section {
                display: flex;
                flex-direction: row;
                background-color:rgb(114, 114, 131);
                padding: 5px;
            }
            div {
                background-color:rgb(130, 130, 150);
                width: 125px;
                margin: auto;
                text-align: center;
                padding: 5px;
                font-family: "Montserrat", sans-serif;
            }
            div a:hover {
                text-decoration: none;
                background-color:rgb(160,160,160);
            }
            footer {
                text-align: center;
            }
            #about {
                font-size: 30px;
                font-family: "Yanone Kaffeesatz", sans-serif;
                padding-left: 100px;
                padding-right: 100px;
                padding-top: 0px;
                padding-bottom: 0px;
            }
            .status {
                width: 800px;
                font-size: 50px;
                background-color: transparent;
            }
            .contact-title, .contact-form {
                text-align: center;
                width: 500px;
                text-transform: uppercase;
                padding-top: 0px;
                background-color: rgb(70, 167, 184);
            }
            .contact-form {
                background-color: rgb(80, 180, 190);
                
                
                transition: all 4s ease-in-out;
                border-bottom: 1px solid gray;
                
            }
            .form-control {
                width: 400px;
                background: transparent;
                outline: none;
                border-bottom: 1px solid gray;
                font-size: 18px;
                margin-bottom: 16px;
                color: #ffffff;

            }
            .blogposts-opinion {
                background-color: rgb(70, 180, 189);
                width: 500px;
                border: 5px solid lightblue;
                padding: 30px;
                margin-top: 20px;
            }
            .blogposts-commentary {
                background-color: rgb(204, 237, 80);
                width: 500px;
                border: 5px solid lightblue;
                padding: 30px;
                margin-top: 20px;
            }
            #opiniondebate {
                margin-bottom: 20px;
            }
            img {
                text-decoration: underline;
                border: 10px ridge rgb(17, 124, 185);
                width: 300px;
                padding-left: 50px;
                padding-right: 50px;
                text-align: center;
            }
            .readmore {
                color: blue;
                text-decoration: underline;
            }
            .blogformat {
                text-indent: 40px;
                font-family: "Source Sans Pro", sans-serif;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
                font-size: 20px;
            }
            h1, h2, h3, h5 {
                text-align: center;
                text-decoration: underline;
                font-family: "Yanone Kaffeesatz", sans-serif;
            }
            .homepage-opinion, .homepage-commentary {
                background-color: rgb(70, 180, 189);
                position: relative;
                right: 45%
                left: 55%;
                border-right: 5px dashed orange;
            }
            .homepage-commentary {
                background-color: rgb(204, 237, 80);
                width: 420px;
                border-right: 5px dashed orange;
            }
            .homepage-opinion {
                border-left: 5px dashed orange;
            }

            .homepage-div {
                width: 840px;
                background-color: lightblue;
                padding: 20px;
                padding-right: 50px;
            }
            figure {
                text-align: center;
            }
           .searchbar {
               position: relative;
               left: 1000px;
                margin: auto;
               max-width: 300px;
               margin-top: 10px;
               text-align: right;
           }
           input[type=text] {
               padding: 5px;
               font-size: 12px;
               border: 1px solid #0079a3;
               border-radius: 3px;
               font-style: italic
           }
           input[type=submit] {
               padding: 12px;
               width: 8%
               font-size: 17px;
               cursor: pointer;
               border-radius: 3pxl;
           }
           .blogpagebox {
               width: 1000px;
               height: 2500px;
               background: rgb(150, 250, 250);
               margin-top: 25px;
               padding-top: 10px;
           }
           .blogformat li {
               padding-left: 60px;
               list-style-position: inside;
               padding-bottom: 20px;
           }
           .readmorechunk1, .bloglist {
                all: initial;
                * {
                    all: unset;
                }
            }
           .viewmoreblogs, .viewmoreblogs2 {
                background-color:rgb(98, 98, 184);
                width: 150px;
                height: 50px;
                margin: auto;
                text-align: center;
                padding: 5px;
                font-family: "Montserrat", sans-serif;
                position: relative;
                left: 45%;
                top: 10px;
                cursor: pointer;
           }
           .readmorechunk1, .readmorechunk2 {
                display: none;
            }
            .bloglist.show-more .readmorechunk1, .bloglist.show-more .readmorechunk2 {
                display: inline;
            }
            .viewmoreblogs.show-less, .viewmoreblogs.show-less {
                display: none;
            }
            
            
           

            
            

